*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "poppins,sans-serif";
}
body{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vW;
    background-attachment: fixed;
}
#form{
    width:400px;
    margin:25vh auto 0 auto;
    background-color: rgba(4, 35, 43, 0.7);
    border-radius:5px;
    padding: 30px;
    box-shadow: 5px 5px rgba(6, 8, 9, 0.5);
}

h2{
    text-align: center;
    color:whitesmoke;
}
.inputgrp{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
#logbtn{
    padding: 4px;
    width: 50%;
    border-radius: 20px;
    border:3px solid rgb(63,63,164);
    background-color: rgb(41,134,134);
    margin-top: 20px;
    margin-left: 25%;
}

.inputgrp label{
    color: white;
}
