:root{
    --dark:#374151;
    --darker:#1F2937;
    --darkest:#111827;
    --gray:#687280;
    --light:#EEE;
    --pink:#EC4899;
    --purple:#885cf6;
}
*{ 
    margin:0; 
    padding:0; 
    font-family: sans-serif; 
    box-sizing: border-box; 
 
} 
body{ 
    background-color: var(--dark); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
} 
.todo{ 
    width:450px; 
    background-color: rgb(104, 92, 139); 
    margin: 20vh auto 0 auto; 
    padding:25px; 
    border-radius: 20px; 
} 
.todo h2{ 
    text-align: center; 
    margin-bottom: 15px; 
} 
.row1{ 
    display:flex; 
    align-items: center; 
    justify-content: space-between; 
    background:#7c9fe4; 
    border-radius: 30px; 
    padding-left:20px; 
    margin-bottom: 25px; 
} 
input{ 
    flex:1; 
    border: none; 
    outline: none; 
    background: transparent; 
    padding:10px; 
    color:black; 
    font-size: 18px; 
} 
button{ 
    border:none; 
    outline:none; 
    padding: 14px 50px;
    background: red; 
    color:#fff; 
    font-size: 16px; 
    cursor:pointer; 
    border-radius: 40px;
    width:30px; 
} 
ul li{ 
    list-style: none; 
    font-size: 17px; 
    padding:12px 8px 12px 50px; 
    user-select: none; 
    cursor: pointer; 
    position: relative; 
} 
ul li::before{ 
    content:''; 
    position:absolute; 
    height: 28px; 
    width:28px; 
    border-radius: 50%; 
    background-image:url(unchecked.png); 
    background-size: cover; 
    background-position: center; 
    top:8px; 
    left:8px; 
} 
ul li.check{ 
   color:#555; 
 
} 
ul li.check::before{ 
    background-image: url(checked.png); 
} 
ul li span{ 
    position: absolute; 
    right:0; 
    top:3px; 
    width: 40px; 
    height: 40px; 
    font-size:22px; 
    color:#0d0c0c; 
    line-height: 40px; 
    text-align:center; 
    border-radius: 50%; 
} 
ul li span:hover{ 
    background: #a5a7ab; 
}
@media only screen and (max-width:600px) {   
    .row1 input{
        width: 200%;
    }

    
}
